body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stopwatch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    background-color: antiquewhite;
}

.stopwatch__clock {
    position: relative;
    width: 200px;
    height: 200px;
    background-color: peru;
    border-radius: 50%;
    margin-bottom: 15px;
    
    background: url('../img/clock.png');
    background-color: aliceblue;
    background-size: contain;
}

.stopwatch__clock-second-arrow {
    position: absolute;
    left: 50%;
    width: 1px;
    height: 50%;
    background-color: black;
    transform: rotate(0);
    transition: 0.15s;
    transform-origin: bottom;
}

.stopwatch__clock-msecond-arrow {
    position: absolute;
    left: 50%;
    width: 1px;
    height: 50%;
    background-color: red;
    transform: rotate(0);
    transition: 0.15s;
    transform-origin: bottom;
}

.stopwatch__time-text {
    font-size: 40px;
    margin-bottom: 15px;
}

.stopwatch__btn-reset {
    background: url("../img/reset.png");
}

.stopwatch__btn-start {
    background: url('../img/play.png');
}

.stopwatch__btn-stop {
    background: url('../img/pause.png');
}

.stopwatch__btn-reset,
.stopwatch__btn-start,
.stopwatch__btn-stop {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-size: cover;
    transition: 0.5s;
    cursor: pointer;
}

.stopwatch__btn-reset:hover,
.stopwatch__btn-start:hover,
.stopwatch__btn-stop:hover {
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
}

