.process-diagram-container {
    display: flex;
    flex-direction: row;
    height: 50%;
    width: 50%;
    background-color: var(--light-gray);
    padding: 20px;
    box-sizing: border-box;
    color: white;
    overflow: auto;
}

.process-diagram-container__control {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    outline: 1px solid white;
}

.process-diagram-container__control-timer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    min-width: 100px;
    outline: 1px solid white;
    font-size: 54px;
    text-shadow: 0px 2px 3px rgba(255,255,255,0.5);
    background-repeat: repeat;
    background-image: url('../images/bg-repeat-rgb000200.png');
    background-size: cover;
    transition: background-image 0.5s ease-in-out;
    
}

.process-diagram-container__control-timer.started {
    background-repeat: no-repeat;
    background-image: url('../images/processor.gif');
    
}

.process-diagram-container__control-start-timer-btn {
    height: 50px;
    width: 50px;
    outline: 2px solid white;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    background-color: transparent;
    background-image: url('../images/play.png');
    background-size: cover;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.process-diagram-container__control-start-timer-btn:hover {
    background-color: white;

}

.process-diagram-container__control-start-timer-btn.started {
    background-image: url('../images/pause.png');
}

.process-diagram-container__diagram {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.process-diagram-container__diagram-core-line {
    display: flex;
    flex-direction: row;
    outline: 2px solid black;
    padding: 5px;
    margin: 5px;
}

.process-diagram-container__diagram-core-line > div{
    flex-shrink: 0;
}

/* TODO */

.process-diagram-container__diagram-completed-process {
    background-image: url('../images/proc_repeat_bg.jpg');
    background-size: contain;

}

.process-diagram-container__diagram-running-process,
.process-diagram-container__diagram-completed-process {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 40px;
    width: 40px;
    border: 2px solid #E0A159;
    text-align: right;
    box-sizing: border-box;
    font-size: 8px;
    border-radius: 5px;
}

.process-diagram-container__diagram-running-process {
    background-image: url('../images/proc_bg.gif');
    background-size: cover;
}

.process-diagram-container__diagram-ruler {
    display: flex;
    flex-direction: row;
    padding: 5px;
    margin: 5px;
}

.process-diagram-container__diagram-ruler-segment {
    padding: 1px;
    text-shadow: 0px 0px 6px black;
    height: 40px;
    border: 1px solid black;
    border-right-width: 0px;
    box-sizing: border-box;
    background-image: url(../images/ruler.png);
    background-size: cover;
}

.process-diagram-container__diagram-ruler-segment:last-child {
    border-right-width: 1px;
}

.process-diagram-container__diagram-empty-process {
    height: 40px;
    width: 40px;
    border: 2px solid #fff;
    box-sizing: border-box;
}
/* 
.process-diagram-container__diagram > * {
    display: none;
} */