.process-queues-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 50%;
    width: 50%;
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
}

.process-queues-table-wrapper {
    width: 100%;
    height: 80%;
    overflow-y: auto;
    outline: 1px solid var(--light-gray);
}

.process-queues-table {
    width: 100%;
    overflow-y: auto;
    box-sizing: border-box;
}

.process-queues-table thead tr th,
.process-queues-table tbody tr td {
    text-align: center;
    outline: 1px solid black;
}